@model ProfileManager.ViewModels.ProfileViewModel

<div class="panel panel-default">
    <ul class="list-inline">
        <li class="list-inline-item">@Model.FirstName</li>
        <li class="list-inline-item">@Model.FirstName</li>

    </ul>
</div>