
@page
@model ProfileManager.Areas.Identity.Pages.Account.RegisterFinishedModel
@{
    ViewData["Title"] = "Register Finished";
}






<div class="row">

    <div class="col-md-3" style=""></div>

    <div class="col-md-6">
        <div class="px-2" style="padding-top:25%">
            <center>
                <h3>Account creation finished</h3>
                <hr />
                <p>
                    Your account creation completed.
                </p>

                <a class="w-50 btn btn-md btn-info my-5" asp-area="" asp-controller="Home" asp-action="Index">Profile List</a>
            </center>

        </div>
    </div>


@*     <div class="col-md-4">

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        
            <input type="hidden" asp-for="Input.Profile.UserId" class="form-control" aria-required="false" />      

            <a class="w-50 btn btn-md btn-info my-5" asp-area="" asp-controller="Home" asp-action="Index">Profile List</a>

            <button id="registerSubmit" type="submit" class="w-50 btn btn-md btn-primary mt-4">Register Finished</button>
        </form>
    </div>
 *@
    <div class="col-md-3" style=""></div>

</div>